/* Nav Component */
.signup-links{
display: flex;
flex-direction: row;  
justify-content: space-evenly;
}
.sign-up{
padding: .25rem;
}
.login{
padding: .25rem;
}

/* Home page */
#walking-dog {
height: 100vh;
width: 100vw;
position:absolute;
z-index:-999;
}
#home-container{
height: 50vh;
width: 100vw;
position: absolute;
overflow: hidden;
z-index: 100;
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 3rem;
}
#walking{
position: absolute;
z-index: -1;
height: 100vh;
width: 100vw;
display: flex;
flex-direction: row;
justify-content: center;
background-color: burlywood;
}



/* landing.js */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
.landing-page{
background-color: #F0EAD6;
height: 100vh;
width: 100vw;
}
.landing-tile-container{
display: flex;
justify-content: center;
/* margin-top: 14rem !important; */
}
.landing-tile{
align-self: center!;
font-family: 'Ubuntu', sans-serif;
;
}
.landing-h1{
color:black;
}

/* login.js */
.login-tile-container{
display: flex;
justify-content: center;
/* margin-top: 14rem !important; */
}

/* profile.js */
.profile-page{
background-color: #F0EAD6;
height: 100vh;
width: 100vw;
overflow: hidden;
}
.bio-container{
display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
height: 300px;
width: 100vw;
/* background-color: black; */
}
.profile-photo-container{
height: 275px;
width: 275px;
border-radius: 50%;
margin: 1em 1em 1em 3em;
background-color: white;
}
.small-bio-container{
height: 185px;
width: 750px;
margin-left: 8em;
background-color: white;
} 
.Lbio-container{
display:flex;
justify-content: center;
height: 500px;
width: 350px;
/* background-color: black; */
}
.Lbio{
align-items: center;
height: 385px;
width: 225px;
margin: 1em;
background-color: white;
}